<h1>写真一覧</h1>
<% if flash[:notice] %>
  <div class="notice-area">
    <%= flash[:notice] %>
  </div>
  <br>
<% end %>

<% if flash[:error] %>
  <div class="error-area">
    <%= flash[:error] %>
  </div>
  <br>
<% end %>

<% if authenticated? %>
  MyTweetAppと連携中
<% else %>
  <%= link_to 'MyTweetAppと連携', my_tweet_app_auth_url %>
<% end %>
<br>
<%= link_to '写真をアップロード', new_photo_path %>
<br>

<% @photos.each do |photo| %>
  <div class="photo">
    <p><%= photo.title %></p>
    <p><%= image_tag photo.image_path %></p>
    <% if authenticated? %>
      <%= button_to 'ツイートする', { controller: 'tweets', action: 'create' }, { method: :post, params: { photo_id: photo.id } } %>
    <% end %>
  </div>
<% end %>
